public/EthocaAlerts-Sandbox.wsdl

<wsdl:definitions xmlns:eth="http://schemas.ethoca.com/E360v1/xml" xmlns:axis2="http://ws.apache.org/namespaces/axis2"
	xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:wseth="http://schemas.ethoca.com/E360v1/wsdl"
	targetNamespace="http://schemas.ethoca.com/E360v1/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://schemas.ethoca.com/E360v1/xml" xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.ethoca.com/E360v1/xml">
			
			<xsd:element name="Ethoca360AlertsRequest" type="tns:Ethoca360AlertsRequestType">
				<xsd:annotation>
					<xsd:documentation>Element used for an Ethoca360 Alerts Request</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="Ethoca360AlertsResponse" type="tns:Ethoca360AlertsResponseType">
				<xsd:annotation>
					<xsd:documentation>Element used for an Ethoca360 Alerts Response</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="EthocaAlertAcknowledgementRequest" type="tns:EthocaAlertAcknowledgementRequestType">
				<xsd:annotation>
					<xsd:documentation>Element used for an Ethoca Alerts Acknowledge Request</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="EthocaAlertAcknowledgementResponse" type="tns:EthocaAlertAcknowledgementResponseType">
				<xsd:annotation>
					<xsd:documentation>Element used for an Ethoca Alerts Acknowledge Response</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="Ethoca360AlertsUpdateRequest" type="tns:Ethoca360AlertsUpdateRequestType">
				<xsd:annotation>
					<xsd:documentation>Element used for an Ethoca360 Alerts update Request</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="Ethoca360AlertsUpdateResponse" type="tns:Ethoca360AlertsUpdateResponseType">
				<xsd:annotation>
					<xsd:documentation>Element used for an Ethoca360 Alerts update Response</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:complexType name="ErrorsType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="Error" type="tns:ErrorType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ErrorType">
				<xsd:simpleContent>
					<xsd:extension base="string">
						<xsd:attribute name="code" type="int" use="optional" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>


			<xsd:simpleType name="CountryType">
				<xsd:restriction base="string">
					<xsd:enumeration value="AF" />
					<xsd:enumeration value="AX" />
					<xsd:enumeration value="AL" />
					<xsd:enumeration value="DZ" />
					<xsd:enumeration value="AS" />
					<xsd:enumeration value="AD" />
					<xsd:enumeration value="AO" />
					<xsd:enumeration value="AI" />
					<xsd:enumeration value="AQ" />
					<xsd:enumeration value="AG" />
					<xsd:enumeration value="AR" />
					<xsd:enumeration value="AM" />
					<xsd:enumeration value="AW" />
					<xsd:enumeration value="AU" />
					<xsd:enumeration value="AT" />
					<xsd:enumeration value="AZ" />
					<xsd:enumeration value="BS" />
					<xsd:enumeration value="BH" />
					<xsd:enumeration value="BD" />
					<xsd:enumeration value="BB" />
					<xsd:enumeration value="BY" />
					<xsd:enumeration value="BE" />
					<xsd:enumeration value="BZ" />
					<xsd:enumeration value="BJ" />
					<xsd:enumeration value="BM" />
					<xsd:enumeration value="BT" />
					<xsd:enumeration value="BO" />
					<xsd:enumeration value="BA" />
					<xsd:enumeration value="BW" />
					<xsd:enumeration value="BV" />
					<xsd:enumeration value="BR" />
					<xsd:enumeration value="IO" />
					<xsd:enumeration value="BN" />
					<xsd:enumeration value="BG" />
					<xsd:enumeration value="BF" />
					<xsd:enumeration value="BI" />
					<xsd:enumeration value="KH" />
					<xsd:enumeration value="CM" />
					<xsd:enumeration value="CA" />
					<xsd:enumeration value="CV" />
					<xsd:enumeration value="KY" />
					<xsd:enumeration value="CF" />
					<xsd:enumeration value="TD" />
					<xsd:enumeration value="CL" />
					<xsd:enumeration value="CN" />
					<xsd:enumeration value="CX" />
					<xsd:enumeration value="CC" />
					<xsd:enumeration value="CO" />
					<xsd:enumeration value="KM" />
					<xsd:enumeration value="CG" />
					<xsd:enumeration value="CD" />
					<xsd:enumeration value="CK" />
					<xsd:enumeration value="CR" />
					<xsd:enumeration value="CI" />
					<xsd:enumeration value="HR" />
					<xsd:enumeration value="CU" />
					<xsd:enumeration value="CY" />
					<xsd:enumeration value="CZ" />
					<xsd:enumeration value="DK" />
					<xsd:enumeration value="DJ" />
					<xsd:enumeration value="DM" />
					<xsd:enumeration value="DO" />
					<xsd:enumeration value="EC" />
					<xsd:enumeration value="EG" />
					<xsd:enumeration value="SV" />
					<xsd:enumeration value="GQ" />
					<xsd:enumeration value="ER" />
					<xsd:enumeration value="EE" />
					<xsd:enumeration value="ET" />
					<xsd:enumeration value="FK" />
					<xsd:enumeration value="FO" />
					<xsd:enumeration value="FJ" />
					<xsd:enumeration value="FI" />
					<xsd:enumeration value="FR" />
					<xsd:enumeration value="FX" />
					<xsd:enumeration value="GF" />
					<xsd:enumeration value="PF" />
					<xsd:enumeration value="TF" />
					<xsd:enumeration value="GA" />
					<xsd:enumeration value="GM" />
					<xsd:enumeration value="GE" />
					<xsd:enumeration value="DE" />
					<xsd:enumeration value="GH" />
					<xsd:enumeration value="GI" />
					<xsd:enumeration value="GR" />
					<xsd:enumeration value="GL" />
					<xsd:enumeration value="GD" />
					<xsd:enumeration value="GP" />
					<xsd:enumeration value="GU" />
					<xsd:enumeration value="GT" />
					<xsd:enumeration value="GN" />
					<xsd:enumeration value="GW" />
					<xsd:enumeration value="GY" />
					<xsd:enumeration value="HT" />
					<xsd:enumeration value="HM" />
					<xsd:enumeration value="HN" />
					<xsd:enumeration value="HK" />
					<xsd:enumeration value="HU" />
					<xsd:enumeration value="IS" />
					<xsd:enumeration value="IN" />
					<xsd:enumeration value="ID" />
					<xsd:enumeration value="IR" />
					<xsd:enumeration value="IQ" />
					<xsd:enumeration value="IE" />
					<xsd:enumeration value="IL" />
					<xsd:enumeration value="IT" />
					<xsd:enumeration value="JM" />
					<xsd:enumeration value="JP" />
					<xsd:enumeration value="JO" />
					<xsd:enumeration value="KZ" />
					<xsd:enumeration value="KE" />
					<xsd:enumeration value="KI" />
					<xsd:enumeration value="KP" />
					<xsd:enumeration value="KR" />
					<xsd:enumeration value="KW" />
					<xsd:enumeration value="KG" />
					<xsd:enumeration value="LA" />
					<xsd:enumeration value="LV" />
					<xsd:enumeration value="LB" />
					<xsd:enumeration value="LS" />
					<xsd:enumeration value="LR" />
					<xsd:enumeration value="LY" />
					<xsd:enumeration value="LI" />
					<xsd:enumeration value="LT" />
					<xsd:enumeration value="LU" />
					<xsd:enumeration value="MO" />
					<xsd:enumeration value="MK" />
					<xsd:enumeration value="MG" />
					<xsd:enumeration value="MW" />
					<xsd:enumeration value="MY" />
					<xsd:enumeration value="MV" />
					<xsd:enumeration value="ML" />
					<xsd:enumeration value="MT" />
					<xsd:enumeration value="MH" />
					<xsd:enumeration value="MQ" />
					<xsd:enumeration value="MR" />
					<xsd:enumeration value="MU" />
					<xsd:enumeration value="YT" />
					<xsd:enumeration value="MX" />
					<xsd:enumeration value="FM" />
					<xsd:enumeration value="MD" />
					<xsd:enumeration value="MC" />
					<xsd:enumeration value="MN" />
					<xsd:enumeration value="MS" />
					<xsd:enumeration value="MA" />
					<xsd:enumeration value="MZ" />
					<xsd:enumeration value="MM" />
					<xsd:enumeration value="NA" />
					<xsd:enumeration value="NR" />
					<xsd:enumeration value="NP" />
					<xsd:enumeration value="NL" />
					<xsd:enumeration value="AN" />
					<xsd:enumeration value="NC" />
					<xsd:enumeration value="NZ" />
					<xsd:enumeration value="NI" />
					<xsd:enumeration value="NE" />
					<xsd:enumeration value="NG" />
					<xsd:enumeration value="NU" />
					<xsd:enumeration value="NF" />
					<xsd:enumeration value="MP" />
					<xsd:enumeration value="NO" />
					<xsd:enumeration value="OM" />
					<xsd:enumeration value="PK" />
					<xsd:enumeration value="PW" />
					<xsd:enumeration value="PS" />
					<xsd:enumeration value="PA" />
					<xsd:enumeration value="PG" />
					<xsd:enumeration value="PY" />
					<xsd:enumeration value="PE" />
					<xsd:enumeration value="PH" />
					<xsd:enumeration value="PN" />
					<xsd:enumeration value="PL" />
					<xsd:enumeration value="PT" />
					<xsd:enumeration value="PR" />
					<xsd:enumeration value="QA" />
					<xsd:enumeration value="RE" />
					<xsd:enumeration value="RO" />
					<xsd:enumeration value="RU" />
					<xsd:enumeration value="RW" />
					<xsd:enumeration value="SH" />
					<xsd:enumeration value="KN" />
					<xsd:enumeration value="LC" />
					<xsd:enumeration value="PM" />
					<xsd:enumeration value="VC" />
					<xsd:enumeration value="WS" />
					<xsd:enumeration value="SM" />
					<xsd:enumeration value="ST" />
					<xsd:enumeration value="SA" />
					<xsd:enumeration value="SN" />
					<xsd:enumeration value="CS" />
					<xsd:enumeration value="SC" />
					<xsd:enumeration value="SL" />
					<xsd:enumeration value="SG" />
					<xsd:enumeration value="SK" />
					<xsd:enumeration value="SI" />
					<xsd:enumeration value="SB" />
					<xsd:enumeration value="SO" />
					<xsd:enumeration value="ZA" />
					<xsd:enumeration value="GS" />
					<xsd:enumeration value="ES" />
					<xsd:enumeration value="LK" />
					<xsd:enumeration value="SD" />
					<xsd:enumeration value="SR" />
					<xsd:enumeration value="SJ" />
					<xsd:enumeration value="SZ" />
					<xsd:enumeration value="SE" />
					<xsd:enumeration value="CH" />
					<xsd:enumeration value="SY" />
					<xsd:enumeration value="TW" />
					<xsd:enumeration value="TJ" />
					<xsd:enumeration value="TZ" />
					<xsd:enumeration value="TH" />
					<xsd:enumeration value="TL" />
					<xsd:enumeration value="TG" />
					<xsd:enumeration value="TK" />
					<xsd:enumeration value="TO" />
					<xsd:enumeration value="TT" />
					<xsd:enumeration value="TN" />
					<xsd:enumeration value="TR" />
					<xsd:enumeration value="TM" />
					<xsd:enumeration value="TC" />
					<xsd:enumeration value="TV" />
					<xsd:enumeration value="UG" />
					<xsd:enumeration value="UA" />
					<xsd:enumeration value="AE" />
					<xsd:enumeration value="GB" />
					<xsd:enumeration value="US" />
					<xsd:enumeration value="UM" />
					<xsd:enumeration value="UY" />
					<xsd:enumeration value="UZ" />
					<xsd:enumeration value="VU" />
					<xsd:enumeration value="VA" />
					<xsd:enumeration value="VE" />
					<xsd:enumeration value="VN" />
					<xsd:enumeration value="VG" />
					<xsd:enumeration value="VI" />
					<xsd:enumeration value="WF" />
					<xsd:enumeration value="EH" />
					<xsd:enumeration value="YE" />
					<xsd:enumeration value="ZM" />
					<xsd:enumeration value="ZW" />
					<xsd:enumeration value="RS" />
      				<xsd:enumeration value="ZA" />
     				<xsd:enumeration value="IM" />
      				<xsd:enumeration value="JE" />
      				<xsd:enumeration value="TP" />
      				<xsd:enumeration value="ME" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:complexType name="Ethoca360AlertsRequestType">
				<xsd:sequence>
					<xsd:element name="Username">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="5" />
								<xsd:maxLength value="30" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Password">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="8" />
								<xsd:maxLength value="35" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AlertType" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:enumeration value="issuer_alert" />
		    					<xsd:enumeration value="fraudreporter_alert"></xsd:enumeration>
								<xsd:enumeration value="customerdispute_alert"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SearchStartDate" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>YYYY-MM-DD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:pattern value="[12]{1}[0-9]{3}-[0-9]{2}-[0-9]{2}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SearchEndDate" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>YYYY-MM-DD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:pattern value="[12]{1}[0-9]{3}-[0-9]{2}-[0-9]{2}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Ethoca360AlertsResponseType">
				<xsd:sequence>
					<xsd:element name="Status">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:enumeration value="continue" />
								<xsd:enumeration value="success" />
								<xsd:enumeration value="failed" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NumberOfAlerts" minOccurs="1" type="int"/>
					<xsd:element name="Alerts" type="tns:AlertsType" minOccurs="0" />
					<xsd:element name="Errors" type="tns:ErrorsType" minOccurs="0" />
				</xsd:sequence>
				<xsd:attribute name="majorCode" type="int" use="required" />
			</xsd:complexType>

			<xsd:complexType name="AlertsType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="Alert" type="tns:AlertType" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="AlertType">
		    	<xsd:sequence>
		    		<xsd:element name="EthocaID">
		    			<xsd:simpleType>
		    				<xsd:restriction base="string">
		    					<xsd:length value="25"></xsd:length>
		    				</xsd:restriction>
		    			</xsd:simpleType>
		    		</xsd:element>
		    		<xsd:element name="Type">
		    			<xsd:simpleType>
		    				<xsd:restriction base="string">
		    					<xsd:enumeration value="issuer_alert"></xsd:enumeration>
		    					<xsd:enumeration value="fraudreporter_alert"></xsd:enumeration>
								<xsd:enumeration value="customerdispute_alert"></xsd:enumeration>
		    				</xsd:restriction>
		    			</xsd:simpleType>
		    		</xsd:element>
		    		<xsd:element name="AlertTimestamp">
						<xsd:annotation>
							<xsd:documentation>YYYY-MM-DDThh:mm:ss.sss</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:pattern
									value="[12]{1}[0-9]{3}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
		    		<xsd:element name="Age" type="string"></xsd:element>
		    		<xsd:element name="Issuer">
		    			<xsd:simpleType>
		    				<xsd:restriction base="string">
		    					<xsd:maxLength value="60"></xsd:maxLength>
		    				</xsd:restriction>
		    			</xsd:simpleType>
		    		</xsd:element>
		    		<xsd:element name="CardNumber">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="13" />
								<xsd:maxLength value="19" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CardBIN" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="1" />
								<xsd:maxLength value="6" />
								<xsd:pattern value="[0-9]{1,6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CardLast4" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="1" />
								<xsd:maxLength value="4" />
								<xsd:pattern value="[0-9]{1,4}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ARN" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="64" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
		    		<xsd:element name="TransactionTimestamp">
						<xsd:annotation>
							<xsd:documentation>YYYY-MM-DDThh:mm:ss.sss</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:pattern
									value="[12]{1}[0-9]{3}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
		    		<xsd:element name="MerchantDescriptor">
		    			<xsd:simpleType>
		    				<xsd:restriction base="string">
		    					<xsd:maxLength value="50"></xsd:maxLength>
		    				</xsd:restriction>
		    			</xsd:simpleType>
		    		</xsd:element>
		    		<xsd:element name="MemberID" type="int"/>
		    		<xsd:element name="MCC" minOccurs="0">
		    			<xsd:simpleType>
		    				<xsd:restriction base="string">
		    					<xsd:maxLength value="4"></xsd:maxLength>
		    				</xsd:restriction>
		    			</xsd:simpleType>
		    		</xsd:element>
		    		<xsd:element name="Amount">
						<xsd:simpleType>
							<xsd:restriction base="decimal">
								<xsd:fractionDigits value="3" />
								<xsd:totalDigits value="11" />
								<xsd:minInclusive value="0" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Currency">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="3" />
								<xsd:maxLength value="3" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
		    		<xsd:element name="TransactionType">
		    			<xsd:simpleType>
		    				<xsd:restriction base="string">
		    					<xsd:enumeration value="keyed"></xsd:enumeration>
		    					<xsd:enumeration value="swiped"></xsd:enumeration>
		    					<xsd:enumeration value="eCommerce"></xsd:enumeration>
		    					<xsd:enumeration value="unknown"></xsd:enumeration>
		    				</xsd:restriction>
		    			</xsd:simpleType>
		    		</xsd:element>
		    		<xsd:element name="InitiatedBy">
		    			<xsd:simpleType>
		    				<xsd:restriction base="string">
		    					<xsd:enumeration value="issuer"></xsd:enumeration>
		    					<xsd:enumeration value="cardholder"></xsd:enumeration>
		    					<xsd:enumeration value="not_available"></xsd:enumeration>
		    				</xsd:restriction>
		    			</xsd:simpleType>
		    		</xsd:element>
		    		<xsd:element name="Is3DSecure">
		    			<xsd:simpleType>
		    				<xsd:restriction base="string">
		    					<xsd:enumeration value="yes"></xsd:enumeration>
		    					<xsd:enumeration value="no"></xsd:enumeration>
		    					<xsd:enumeration value="not_available"></xsd:enumeration>
		    				</xsd:restriction>
		    			</xsd:simpleType>
		    		</xsd:element>
		    		<xsd:element name="Source" minOccurs="0">
		    			<xsd:simpleType>
		    				<xsd:restriction base="string" >
		    					<xsd:maxLength value="50"></xsd:maxLength>
		    				</xsd:restriction>
		    			</xsd:simpleType>
		    		</xsd:element>
		    		<xsd:element name="AuthCode" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:maxLength value="8"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
		    		<xsd:element name="MerchantMemberName" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:maxLength value="60"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TransactionId" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="64" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ChargebackReasonCode" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="0" />
								<xsd:maxLength value="30" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ChargebackAmount" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="decimal">
								<xsd:fractionDigits value="3" />
								<xsd:totalDigits value="11" />
								<xsd:minInclusive value="0" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ChargebackCurrency" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="3" />
								<xsd:maxLength value="3" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
		    	</xsd:sequence>
    		</xsd:complexType>
    		
    		<xsd:complexType name="Ethoca360AlertsUpdateRequestType">
				<xsd:sequence>
					<xsd:element name="Username">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="5" />
								<xsd:maxLength value="30" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Password">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="8" />
								<xsd:maxLength value="35" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AlertUpdates" type="tns:AlertUpdatesType"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="AlertUpdatesType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="AlertUpdate" type="tns:AlertUpdateType" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="AlertUpdateType">
				<xsd:sequence>
					<xsd:element name="EthocaID">
		    			<xsd:simpleType>
		    				<xsd:restriction base="string">
		    					<xsd:length value="25"></xsd:length>
		    				</xsd:restriction>
		    			</xsd:simpleType>
		    		</xsd:element>
					<xsd:element name="Outcome">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:enumeration value="stopped" />
								<xsd:enumeration value="partially_stopped" />
								<xsd:enumeration value="previously_cancelled" />
								<xsd:enumeration value="missed" />
								<xsd:enumeration value="notfound" />
								<xsd:enumeration value="other" />
								<xsd:enumeration value="shipper_contacted" />
								<xsd:enumeration value="account_suspended" />
								<xsd:enumeration value="in_progress" />
								<xsd:enumeration value="resolved" />
								<xsd:enumeration value="previously_refunded" />
								<xsd:enumeration value="unresolved_dispute" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Refunded" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:enumeration value="yes" />
								<xsd:enumeration value="no" />
								<xsd:enumeration value="refunded" />
								<xsd:enumeration value="not refunded" />
								<xsd:enumeration value="not settled"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>					
					<xsd:element name="FirstPartyFraud" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:enumeration value="yes" />
								<xsd:enumeration value="no" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>					
					<xsd:element name="AmountStopped" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Element valid only when partially stopped outcome is selected.  It is otherwise ignored.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="decimal">
								<xsd:fractionDigits value="3" />
								<xsd:totalDigits value="11" />
								<xsd:minInclusive value="0" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ActionTimestamp" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>YYYY-MM-DDThh:mm:ss.sss</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:pattern
									value="[12]{1}[0-9]{3}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Comments" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:maxLength value="250" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Ethoca360AlertsUpdateResponseType">
				<xsd:sequence>
					<xsd:element name="AlertUpdateResponses" type="tns:AlertUpdateResponsesType" minOccurs="0"/>
					<xsd:element name="Errors" type="tns:ErrorsType" minOccurs="0" />
				</xsd:sequence>
				<xsd:attribute name="majorCode" type="int" use="required" />
			</xsd:complexType>
			
			<xsd:complexType name="AlertUpdateResponsesType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="AlertUpdateResponse" type="tns:AlertUpdateResponseType" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="AlertUpdateResponseType">
				<xsd:sequence>
					<xsd:element name="Errors" type="tns:ErrorsType" minOccurs="0" />
				</xsd:sequence>
				<xsd:attribute name="ethocaID" type="string" use="required" />
				<xsd:attribute name="status" type="string" use="required" />
			</xsd:complexType>
			
			<xsd:complexType name="EthocaAlertAcknowledgementRequestType">
				<xsd:sequence>
					<xsd:element name="Username">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="5" />
								<xsd:maxLength value="30" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Password">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:minLength value="8" />
								<xsd:maxLength value="35" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AlertAcknowledgements" minOccurs="1" maxOccurs="1" type="eth:AlertAcknowledgementRequestType"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="AlertAcknowledgementRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="AlertAcknowledgement" type="eth:EthocaAcknowledgementRequestType" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="EthocaAlertAcknowledgementResponseType">
				<xsd:sequence>
					<xsd:element name="AcknowledgementResponses" type="tns:AlertUpdateResponsesType" minOccurs="0"/>
					<xsd:element name="Errors" type="tns:ErrorsType" minOccurs="0" />
				</xsd:sequence>
				<xsd:attribute name="majorCode" type="int" use="required" />
			</xsd:complexType>
			
			<xsd:complexType name="EthocaAcknowledgementRequestType">
		        <xsd:sequence>
		            <xsd:element name="EthocaID">
		                <xsd:simpleType>
		                    <xsd:restriction base="string">
		                        <xsd:length value="25"></xsd:length>
		                    </xsd:restriction>
		                </xsd:simpleType>
		            </xsd:element> 
		            <xsd:element name="Status">
						<xsd:simpleType>
							<xsd:restriction base="string">
								<xsd:enumeration value="success" />
								<xsd:enumeration value="failed" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
		        </xsd:sequence>
	    	</xsd:complexType>
    		
		</xsd:schema>
	</wsdl:types>


	<wsdl:message name="Ethoca360AlertsRequest">
		<wsdl:part name="body" element="eth:Ethoca360AlertsRequest" />
	</wsdl:message>
	<wsdl:message name="Ethoca360AlertsResponse">
		<wsdl:part name="body" element="eth:Ethoca360AlertsResponse" />
	</wsdl:message>
	
	<wsdl:message name="Ethoca360AlertsUpdateRequest">
		<wsdl:part name="body" element="eth:Ethoca360AlertsUpdateRequest" />
	</wsdl:message>
	<wsdl:message name="Ethoca360AlertsUpdateResponse">
		<wsdl:part name="body" element="eth:Ethoca360AlertsUpdateResponse" />
	</wsdl:message>
	
	<wsdl:message name="EthocaAlertAcknowledgementRequest">
		<wsdl:part name="body" element="eth:EthocaAlertAcknowledgementRequest" />
	</wsdl:message>
	<wsdl:message name="EthocaAlertAcknowledgementResponse">
		<wsdl:part name="body" element="eth:EthocaAlertAcknowledgementResponse" />
	</wsdl:message>
	  
	
	

	<wsdl:portType name="EthocaServicePortType">
		<wsdl:operation name="Ethoca360Alerts">
			<wsdl:input message="wseth:Ethoca360AlertsRequest" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				wsaw:Action="http://schemas.ethoca.com/E360v1/wsdl/EthocaServices/getE360AlertsRequest" />
			<wsdl:output message="wseth:Ethoca360AlertsResponse" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				wsaw:Action="http://schemas.ethoca.com/E360v1/wsdl/EthocaServices/getE360AlertsResponse" />
		</wsdl:operation>
		<wsdl:operation name="Ethoca360AlertsUpdate">
			<wsdl:input message="wseth:Ethoca360AlertsUpdateRequest" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				wsaw:Action="http://schemas.ethoca.com/E360v1/wsdl/EthocaServices/updateE360AlertsRequest" />
			<wsdl:output message="wseth:Ethoca360AlertsUpdateResponse" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				wsaw:Action="http://schemas.ethoca.com/E360v1/wsdl/EthocaServices/updateE360AlertsResponse" />
		</wsdl:operation>
		<wsdl:operation name="EthocaAlertsAcknowledgement">
			<wsdl:input message="wseth:EthocaAlertAcknowledgementRequest" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				wsaw:Action="http://schemas.ethoca.com/E360v1/wsdl/EthocaServices/acknowledgeAlertsRequest" />
			<wsdl:output message="wseth:EthocaAlertAcknowledgementResponse" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				wsaw:Action="http://schemas.ethoca.com/E360v1/wsdl/EthocaServices/acknowledgeAlertsResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="EthocaServiceSOAP11Binding" type="wseth:EthocaServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Ethoca360Alerts">
			<soap:operation soapAction="http://schemas.ethoca.com/E360v1/wsdl/EthocaServices/getE360AlertsRequest"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Ethoca360AlertsUpdate">
			<soap:operation soapAction="http://schemas.ethoca.com/E360v1/wsdl/EthocaServices/updateE360AlertsRequest"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EthocaAlertsAcknowledgement">
			<soap:operation soapAction="http://schemas.ethoca.com/E360v1/wsdl/EthocaServices/acknowledgeAlertsRequest"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="EthocaServices">
		<wsdl:port name="EthocaServiceSOAP11port_http" binding="wseth:EthocaServiceSOAP11Binding">
			<soap:address location="https://sandbox.ethocaweb.com/axis2/services/EthocaServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
